In [91]:
import pandas as pd

In [101]:
path = '../data/'

In [92]:
temp_zuz = pd.read_csv(path + 'temp_zuz.csv', delimiter=';')

In [93]:
temp_zuz['Czas'] = pd.to_datetime(temp_zuz['Czas'])
temp_zuz.set_index('Czas', inplace=True)
temp_zuz = temp_zuz.tz_localize('Europe/Warsaw', ambiguous='NaT')
temp_zuz.reset_index(inplace=True)

In [95]:
holes = temp_zuz['czas_converted'].isnull()
temp_zuz[holes]

     czas_converted                 Czas  temp_zuz
600             NaT  2020-10-25 02:00:00      1308
601             NaT  2020-10-25 02:01:00      1299
9220            NaT  2021-10-31 02:00:00      1305
9221            NaT  2021-10-31 02:01:00      1294
9222            NaT  2021-10-31 02:05:00      1294

In [96]:
fills = {
    600: '2020-10-25 02:00:00+02:00',
    601: '2020-10-25 02:01:00+01:00',
    9220: '2021-10-31 02:00:00+02:00',
    9221: '2021-10-31 02:01:00+01:00',
    9222: '2021-10-31 02:05:00+01:00'
}

In [97]:
for i in fills:
    temp_zuz.loc[i, 'czas_converted'] = fills[i]

In [98]:
temp_zuz[holes]

                czas_converted                 Czas  temp_zuz
600  2020-10-25 02:00:00+02:00  2020-10-25 02:00:00      1308
601  2020-10-25 02:01:00+01:00  2020-10-25 02:01:00      1299
9220 2021-10-31 02:00:00+02:00  2021-10-31 02:00:00      1305
9221 2021-10-31 02:01:00+01:00  2021-10-31 02:01:00      1294
9222 2021-10-31 02:05:00+01:00  2021-10-31 02:05:00      1294

In [103]:
temp_zuz.to_csv(path + 'temp_zuz_fixed.csv', index=None)