In [20]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

#### Load data

In [37]:
df_og = pd.read_csv('../data/merged.csv')
df_og['czas'] = pd.to_datetime(df_og['czas'])
# df_og['czas'].tz_co
#df_og.set_index('czas', inplace=True)

0         2020-10-01 00:00:00+02:00
1         2020-10-01 00:01:00+02:00
2         2020-10-01 00:02:00+02:00
3         2020-10-01 00:03:00+02:00
4         2020-10-01 00:04:00+02:00
                    ...
702775    2022-01-31 23:55:00+01:00
702776    2022-01-31 23:56:00+01:00
702777    2022-01-31 23:57:00+01:00
702778    2022-01-31 23:58:00+01:00
702779    2022-01-31 23:59:00+01:00
Name: czas, Length: 702780, dtype: object

In [42]:
pd.to_datetime(df_og['czas'], utc=True)

0        2020-09-30 22:00:00+00:00
1        2020-09-30 22:01:00+00:00
2        2020-09-30 22:02:00+00:00
3        2020-09-30 22:03:00+00:00
4        2020-09-30 22:04:00+00:00
                    ...
702775   2022-01-31 22:55:00+00:00
702776   2022-01-31 22:56:00+00:00
702777   2022-01-31 22:57:00+00:00
702778   2022-01-31 22:58:00+00:00
702779   2022-01-31 22:59:00+00:00
Name: czas, Length: 702780, dtype: datetime64[ns, UTC]

In [40]:
df_og['czas'].tz_convert(None)

TypeError: index is not a valid DatetimeIndex or PeriodIndex

### Proste featury wybieram albo tworze agregując

In [23]:
df = pd.DataFrame(index=df_og.index)

In [24]:
# srednia po 'WODY POWROTNE KOLEKTORÓW [°C]'
TIR = df_og.columns[df_og.columns.str.contains('tir')].values
df['TIR'] = df_og[TIR].mean(axis='columns')

In [25]:
# srednia po 'TEMP POD 2 WARSTWĄ WYMURÓWKI [°C]'
TIX1 = df_og.columns[df_og.columns.str.contains('001tix')].values
df['TIX1'] = df_og[TIX1].mean(axis='columns')

In [26]:
# wrzucam o prażonkach i prob
PR = df_og.columns[df_og.columns.str.contains('pr')].values
df[PR] = df_og[PR]

In [33]:
df

,TIR,TIX1,prazonka_fe,prazonka_s,prob_corg,prob_fe,prob_s
czas,,,,,,,
2020-10-01 00:00:00+02:00,29.086390,418.990965,4.48,8.98,8.6,4.55,9.87
2020-10-01 00:01:00+02:00,29.087996,418.990059,4.48,8.98,8.6,4.55,9.87
2020-10-01 00:02:00+02:00,29.094825,418.989153,4.48,8.98,8.6,4.55,9.87
2020-10-01 00:03:00+02:00,29.098936,418.988247,4.48,8.98,8.6,4.55,9.87
2020-10-01 00:04:00+02:00,29.096812,418.987341,4.48,8.98,8.6,4.55,9.87
...,...,...,...,...,...,...,...
2022-01-31 23:55:00+01:00,27.868889,417.800499,6.18,8.89,7.8,6.65,12.47
2022-01-31 23:56:00+01:00,27.868535,417.799414,6.18,8.89,7.8,6.65,12.47
2022-01-31 23:57:00+01:00,27.859336,417.798330,6.18,8.89,7.8,6.65,12.47
2022-01-31 23:58:00+01:00,27.857374,417.797246,6.18,8.89,7.8,6.65,12.47
2022-01-31 23:59:00+01:00,27.862650,417.796162,6.18,8.89,7.8,6.65,12.47